/* место для вашего кода */

.container {
    padding: 0 50px;
}

/* header */

.header {
    display: grid;
    grid-template-columns: 35fr 1fr 35fr;
    align-items: center;
    justify-items: center;

    height: 293px;
    padding: 0 50px;
}

.header__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__dot {
    width: 6px;
    height: 6px;
}

.header__link {
    font-size: 18px;
}

.header__logo {
    width: 148px;
    height: 105px;
    background: no-repeat url('/images/logo-black.svg') center;
    margin: 0 36px;
}

.header__contacts {
    display: flex;
    justify-self: end;
    flex-direction: column;
    width: 240px;
}

.header__contacts-link {
    font-size: 18px;
    line-height: 24.3px;
    text-decoration: none;
}

/* main */



.footer {
    padding: 92px 50px 96px 51px;
}

.preview {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 180px 24px 60px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 757px;
}

.lots {
    padding: 180px 24px 60px;
}

.about {
    padding: 60px 24px 180px;
}